@import 'header/header';

#windy-city-swing {
    margin: 0;
    background-color: #b3ddf2;
    height: 100%;
}

#index {
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    height: 100%;
}