__clientTemp

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Eclipse
WebContent/
.settings/
.project
.classpath

# Mac
.DS_Store

# Webpack
bundle.js*

# Generated
dist/
windycityswing/.idea/
windycityswing/backend/bin/

# Clarissa
vday2017/
jerissatothemoon/

#mocks
mocks/

#nginx
nginx-1.12.0/

#STS workspace
windycityswing/RemoteSystemsTempFiles/
windycityswing/Servers/
windycityswing/.recommenders
windycityswing/backend/out/

# Android Studio
*.iml
windycityswing/android/WindyCitySwing/.gradle
windycityswing/android/WindyCitySwing/local.properties
windycityswing/android/WindyCitySwing/.idea/
windycityswing/android/WindyCitySwing/.DS_Store
windycityswing/android/WindyCitySwing/build
windycityswing/android/WindyCitySwing/captures
windycityswing/android/WindyCitySwing/.externalNativeBuild

# Native apps
windycityswing/android/
windycityswing/ios/

my-app/