__clientTemp

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Eclipse
WebContent/
.settings/
.project
.classpath

# Mac
.DS_Store

# Webpack
bundle.js*

# Generated
dist/
windycityswing/backend/bin/

# Clarissa
vday2017/
jerissatothemoon/

#mocks
mocks/

#nginx
nginx-1.12.0/

#STS workspace
windycityswing/RemoteSystemsTempFiles/
windycityswing/Servers/
windycityswing/.recommenders
windycityswing/backend/out/