.event--bluetopia {
    background-color: #366DB0;
    color: white;

    &:hover {
        background-color: #4C86CB;
    }
}

.event--first-fridays {
    background-color: #0a0a0a;
    color: white;

    &:hover {
        background-color: #262626;
    }
}

.event--outcast-hackneys {
    background-color: #225915;
    color: white;

    &:hover {
        background-color: #2F6F20;
    }
}

.event--flat-cats-alhambra {
    background-color: #f50f1a;
    color: black;

    &:hover {
        background-color: #F7262F;
    }
}

.event--chicago-dance {
    background-color: #CCCCCC;
    color: black;

    &:hover {
        background-color: #DDDDDD;
    }
}