.event--balboa-social {
    background-color: #441913;
    color: white;

    &:hover {
        background-color: #5C2720;
    }
}

.event--bluetopia {
    background-color: #366DB0;
    color: white;

    &:hover {
        background-color: #4C86CB;
    }
}

.event--chicago-dance {
    background-color: #CCCCCC;
    color: black;

    &:hover {
        background-color: #DDDDDD;
    }
}

.event--first-fridays {
    background-color: #0a0a0a;
    color: white;

    &:hover {
        background-color: #262626;
    }
}

.event--flat-cats-alhambra {
    background-color: #f50f1a;
    color: black;

    &:hover {
        background-color: #F7262F;
    }
}

.event--glendora {
    background-color: #979731;
    color: white;

    &:hover {
        background-color: #ABAB4E;
    }
}

.event--outcast-fitzs {
    background-color: #92133E;
    color: white;

    &:hover {
        background-color: #A72B54;
    }
}

.event--outcast-hackneys {
    background-color: #225915;
    color: white;

    &:hover {
        background-color: #2F6F20;
    }
}

.event--rhythm-rockets-untitled {
    background-color: #03F6E0;
    color: black;

    &:hover {
        background-color: #27F8E6;
    }
}

.event--traffic-jam {
    background-color: #779ea9;
    color: white;

    &:hover {
        background-color: #91B3BC;
    }
}