.event--alan-gresik-green-mill {
    background-color: #CD652E;
    color: white;

    &:hover {
        background-color: #EB8147;
    }
}

.event--fat-babies-green-mill {
    background-color: #480000;
    color: white;

    &:hover {
        background-color: #800000;
    }
}

.event--fat-babies-honky-tonk {
    background-color: #200D07;
    color: white;

    &:hover {
        background-color: #542212;
    }
}

.event--first-fridays {
    background-color: #0a0a0a;
    color: white;

    &:hover {
        background-color: #262626;
    }
}

.event--fizz {
    background-color: #654639;
    color: white;

    &:hover {
        background-color: #8F563D;
    }
}

.event--gallery-dance {
    background-color: #3DD3EE;
    color: black;

    &:hover {
        background-color: #72DFF3;
    }
}