.event--first-fridays {
    background-color: #0a0200;
    color: white;
}

.event--gallery-dance {
    background-color: #3DD3EE;
    color: black;
}

.event--fizz {
    background-color: #654639;
    color: white;
}