.windy-city-home {
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    box-shadow: 0 1pt 3pt gray;
    padding-top: 1%;
    padding-bottom: 3%;
}

.event-calendar__title {
    font-family: 'Dancing';
    font-size: 36pt;
    text-align: center;
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.event-calendar {
    margin-left: 5%;
    width: 90%;
    border-collapse: collapse;
    font-family: 'Rampung';
}

.event-calendar td {
    width: 12%;
}

.event-calendar__weekday-name {
    text-align: center;
    font-size: 28pt;
    height: 30pt;
}

.calendar-day {
    text-align: center;
    vertical-align: middle;
    font-size: 36pt;
    height: 75pt;
    border: 1px solid #CCCCCC;
}

.event-calendar__navigator {
    text-align: center;
    cursor: pointer;
    font-size: 24pt;
}

.event-calendar__month {
    text-align: center;
    font-size: 36pt;
    height: 50pt;
}